html, body {
	background-image: none;
	background: #cfcfcf;
	}
h2 {
	line-height: 30px;
	}
.small {
	font-size: 9px;
	}
a .arrow {
	font-size: 9px;
	color: white;
	}
#xacto, #ruler, #paperclip, #rotring, #sharpie {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	}