@font-face {
  font-family: "Commit Mono";
  src: url("/fonts/CommitMono.woff2");
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-synthesis: none !important;
}

body {
  background-color: #DDD;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

hr {
  border-color: #DDD;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p, ul {
  font-family: "Commit Mono", monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

a {
  color: black;
  font-weight: 550;
  text-decoration: underline;
  text-decoration-color: #BBB;
}
a:hover {
  background-color: #EEE;
}

b {
  font-weight: 700;
}

small {
  font-size: 12px;
}

.background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgb(238, 238, 238) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.mobile-nav {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1330px;
  gap: 40px;
  margin: 0 auto;
  padding: 0 40px;
}

.grid {
  width: 820px;
  margin: 40px 0px;
  opacity: 0;
}

.grid.masonry-loaded {
  opacity: 1;
}

.grid-item {
  width: 175px;
  height: 175px;
  position: relative;
  margin-bottom: 40px;
  border-radius: 24px;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 25px -5px, rgba(0, 0, 0, 0.06) 0px 10px 10px -5px;
  transition: box-shadow 250ms;
  will-change: box-shadow;
}
.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 25px -5px, rgba(0, 0, 0, 0.12) 0px 10px 10px -5px;
}

.width-x2 {
  width: 390px;
}

.height-x2 {
  height: 390px;
}

.width-x3 {
  width: 605px;
}

.height-x3 {
  height: 605px;
}

.width-x4 {
  width: 820px;
}

.height-x4 {
  height: 820px;
}

.height-16-9 {
  height: 461px;
  border-radius: 12px;
}

.padding {
  padding: 24px;
}

.info-card {
  top: 40px;
  height: 390px;
  position: sticky;
}
.info-card p {
  padding: 5px 0px;
  line-height: 18px;
}
.info-card h2 {
  padding-bottom: 4px;
  margin-top: -4px;
}
.info-card hr {
  margin: 18px 0px;
}
.info-card img.profile-pic {
  border-radius: 8px;
  float: right;
}
.info-card .icon {
  padding-left: 30px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 20px;
}
.info-card .profession {
  background-image: url(/img/icon-pencil.png);
}
.info-card .location {
  background-image: url(/img/icon-home.png);
}
.info-card .email {
  background-image: url(/img/icon-email.png);
}
.info-card .email a {
  text-decoration-color: #FF5454;
}
.info-card .email a:hover {
  background-color: #FFD4D4;
}
.info-card .open-to-work {
  background-image: url(/img/icon-inbox.png);
}
.info-card .linkedin {
  background-image: url(/img/icon-linkedin.svg);
}
.info-card .linkedin a {
  text-decoration-color: #0A66C2;
}
.info-card .linkedin a:hover {
  background-color: #C2D9F0;
}
.info-card .mastodon {
  background-image: url(/img/icon-mastodon.svg);
}
.info-card .mastodon a {
  text-decoration-color: #6364FF;
}
.info-card .mastodon a:hover {
  background-color: #D8D8FF;
}
.info-card .github {
  background-image: url(/img/icon-github.svg);
}
.info-card .link {
  background-image: url(/img/icon-link.svg);
}
.info-card .archive-1 {
  background-image: url(/img/icon-box-1.png);
}
.info-card .archive-2 {
  background-image: url(/img/icon-box-2.png);
}

.title h1 {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 16px;
  margin-top: -6px;
}
.title .company {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title .company p {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.title .role {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.title .role p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.title .year {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description p {
  padding-bottom: 14px;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
}
.tools .icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-content: center;
}
.tools .icons a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
}
.tools .icons a:hover {
  background-color: white;
}
.tools .icons a:hover img.rounded {
  border-radius: 4px;
}
.tools .icons a:hover p {
  opacity: 0.8;
}
.tools .icons a img.rounded {
  border-radius: 4px;
}
.tools .icons a p {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 8px;
  opacity: 0;
  transition: opacity 250ms;
  will-change: opacity;
}

.responsibilities {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.responsibilities .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.responsibilities .tags p {
  display: flex;
  color: black;
  background-color: #EEE;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  text-transform: none;
  width: max-content;
}

.responsibilities p, .tools p {
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px;
}

.all-stars-info:has(.figma:hover) .product-design, .all-stars-info:has(.figma:hover) .ui, .all-stars-info:has(.figma:hover) .ux, .all-stars-info:has(.figma:hover) .design-system, .all-stars-info:has(.figma:hover) .prototyping {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.illustrator:hover) .art-direction, .all-stars-info:has(.illustrator:hover) .branding, .all-stars-info:has(.illustrator:hover) .icon-design {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.origami:hover) .ui, .all-stars-info:has(.origami:hover) .ux, .all-stars-info:has(.origami:hover) .prototyping, .all-stars-info:has(.origami:hover) .animation {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.keynote:hover) .animation, .all-stars-info:has(.keynote:hover) .presentations {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.unity:hover) .ui, .all-stars-info:has(.unity:hover) .tech-art {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.linear:hover) .product-design {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.notion:hover) .product-design, .all-stars-info:has(.notion:hover) .ux {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.all-stars-info:has(.miro:hover) .product-design, .all-stars-info:has(.miro:hover) .ui, .all-stars-info:has(.miro:hover) .ux {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.figma:hover) .ui, .seed-info:has(.figma:hover) .ux, .seed-info:has(.figma:hover) .design-system, .seed-info:has(.figma:hover) .prototyping, .seed-info:has(.figma:hover) .ui-art-direction {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.illustrator:hover) .ui, .seed-info:has(.illustrator:hover) .icon-design, .seed-info:has(.illustrator:hover) .ui-art-direction, .seed-info:has(.illustrator:hover) .branding {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.keynote:hover) .presentations, .seed-info:has(.keynote:hover) .animation {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.origami:hover) .ui, .seed-info:has(.origami:hover) .ux, .seed-info:has(.origami:hover) .prototyping, .seed-info:has(.origami:hover) .animation {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.miro:hover) .ui, .seed-info:has(.miro:hover) .ux {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.atlassian:hover) .documentation {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.seed-info:has(.unity:hover) .ui {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.illustrator:hover) .ui, .quizup-info:has(.illustrator:hover) .ux, .quizup-info:has(.illustrator:hover) .design-system, .quizup-info:has(.illustrator:hover) .art-direction, .quizup-info:has(.illustrator:hover) .branding, .quizup-info:has(.illustrator:hover) .web-design {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.photoshop:hover) .ui {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.origami:hover) .ui, .quizup-info:has(.origami:hover) .ux, .quizup-info:has(.origami:hover) .prototyping, .quizup-info:has(.origami:hover) .animation {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.flinto:hover) .ux, .quizup-info:has(.flinto:hover) .prototyping {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.miro:hover) .product-design, .quizup-info:has(.miro:hover) .ux {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.keynote:hover) .animation, .quizup-info:has(.keynote:hover) .presentations {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.quizup-info:has(.asana:hover) .product-design {
  color: white;
  background-color: black;
  transition: all 250ms;
  will-change: all;
}

.phone, .height-16-9 {
  background-color: white;
  overflow: hidden;
  position: relative;
}
.phone img, .height-16-9 img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
.phone:hover .img-info p, .height-16-9:hover .img-info p {
  display: block;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 36px;
}

.logo {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 25px -5px, rgba(0, 0, 0, 0.12) 0px 10px 10px -5px;
}
.logo:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 25px -5px, rgba(0, 0, 0, 0.18) 0px 10px 10px -5px;
}

.large-link div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 127px;
}
.large-link .icon, .large-link .photo {
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.5px;
  border-style: solid;
}
.large-link .icon {
  width: 32px;
  height: 32px;
}
.large-link p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  max-width: 144px;
}
.large-link .external-link {
  font-family: "Commit Mono", monospace;
  font-weight: 400;
  font-size: 11px;
  color: #666;
  text-decoration: underline;
  text-decoration-color: #CCC;
}
.large-link .photo {
  width: 178px;
  height: 127px;
  float: right;
}

.video-insert {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 24px;
}

.video-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  border-radius: 12px;
}

.img-info p {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin-inline: auto;
  width: fit-content;
  background-color: white;
  padding: 1px 7px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 700;
}

.section-end {
  width: 820px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
.section-end:hover {
  box-shadow: none;
}

.webby {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(51, 51, 51) 100%);
  color: white;
  text-shadow: 0px 1px 3px black;
}
.webby p {
  font-size: 18px;
}
.webby ul {
  font-size: 16px;
  margin: 0px;
  padding: 0px 0px 8px 24px;
}
.webby ul li {
  margin: 8px 0px;
  line-height: 18px;
}
.webby .webby-awards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: center;
  align-items: flex-end;
  align-content: flex-end;
  gap: 12px;
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 33%, rgba(0, 0, 0, 0) 100%);
}
.mobile-nav a {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 393px) and (-webkit-device-pixel-ratio: 3) {
  body {
    zoom: 0.9;
  }
  .mobile-nav {
    height: 64px;
  }
  .mobile-nav a {
    display: block;
    text-decoration: none;
    padding-bottom: 12px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mobile-nav .nav-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    align-self: center;
    width: 80px;
    height: 56px;
    padding-bottom: 5px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    background-position: top center;
    background-size: 20px;
    background-position-y: 8px;
    background-repeat: no-repeat;
  }
  .mobile-nav .all-stars {
    border-color: #FFA026;
    background-image: url(/img/icon-all-stars.svg);
  }
  .mobile-nav .seed {
    border-color: #00B5D9;
    background-image: url(/img/icon-seed-white.svg);
  }
  .mobile-nav .quizup {
    border-color: #FF5454;
    background-image: url(/img/icon-quizup.svg);
  }
  .mobile-nav .misc-work {
    border-color: #02D174;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 390px;
    gap: 0px;
    margin: 20px auto;
    padding: 0px;
  }
  .width-x4 {
    width: 390px;
    height: 288px;
  }
  .height-16-9 {
    height: 219px;
  }
  .info-card {
    top: 0px;
    position: relative;
    margin-bottom: 0px;
  }
  .grid {
    width: 390px;
    margin-top: 40px;
  }
  .section-end {
    width: 390px;
    height: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
