/* CSS Document */

body {
	background-color: #555242;
	margin-top: 10px;
}
body,td,th {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #b4b5ab;
}
a:link {
	color: #bef000;
	text-decoration: none;
}
a:visited {
	color: #bef000;
	text-decoration: line-through;
}
a:visited:hover {
	color: #bef000;
	text-decoration: underline;
}
a:hover {
	color: #bef000;
	text-decoration: underline;
}
a:active {
	color: #bef000;
	text-decoration: line-through;
}
#top {
	font-size: 31px;
	color: #FFFFFF;
}
#headline {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: thick;
	color: #fff;
}
#new {
	font-family: "Courier New", Courier, mono;
	color: #ff0;
}
#old {
	font-family: "Courier New", Courier, mono;
	color: #666353;
}
img {
	padding: 4px;
	border: 1px solid #b4b5ab;
	background-color: #777464;
}
