html, body { margin: 0; padding: 0; font-family: Tahoma, sans-serif; font-size: 11px; line-height: 15px; color: black; background: #e1e1e1; text-align: center }

#wrap { width: 900px; margin: 0 auto; margin-top: 100px; text-align: left }

#head	{ width: 900px; height: 79px; margin-top: -100px; padding: 20px 0 0 0; z-index: 1; position: fixed; _position: absolute; font-weight: bold; background: url(../img/head.png); color: black; border-bottom: 1px dotted #e1e1e1; text-shadow: 0px 2px 3px #e1e1e1; }
	
	#title { width: 575px; margin: 0 75px 0 0; padding-top: 2px; float: left; border-top: 1px solid black; }
		#title a { color: black; text-decoration: none; }
	
	#menu { width: 250px;  padding-top: 2px; float: left; border-top: 1px solid black; }
		.portfolio, .about, .contact { color: black; text-decoration: none; }
		.portfolio:hover { color: #f00; cursor: pointer; }	
		.about:hover { color: #0f0; cursor: pointer; }
		.contact:hover { color: #00f; }

#main { min-height: 500px; width: 975px; }

	.item { width: 250px; height: 400px; float: left; margin: 0 75px 0 0; border-top: 1px solid black; cursor: pointer; }
		.title { font-weight: bold; padding-top: 2px; float: left; }
		.subtitle { padding-top: 2px; text-align: right; }


		.russibani { background: url(../img/thumb_russibani.png) no-repeat; background-position: 0px 35px; }
		.russibani:hover { color: #1abbb4;  background-position: -250px 35px; border-top: 1px solid #1abbb4; }
			.russibani_nav { background: url(../img/nav_russibani.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.russibani_nav:hover { color: #1abbb4;  background-position: -100px 20px; border-top: 1px solid #1abbb4; }

		.reinhardt { background: url(../img/thumb_reinhardt.png) no-repeat; background-position: 0px 40px; }
		.reinhardt:hover { color: #df2a2a;  background-position: -250px 40px; border-top: 1px solid #df2a2a; }
			.reinhardt_nav { background: url(../img/nav_reinhardt.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.reinhardt_nav:hover { color: #df2a2a;  background-position: -100px 20px; border-top: 1px solid #df2a2a; }

		.badtimes { background: url(../img/thumb_badtimes.png) no-repeat; background-position: 0px 40px; }
		.badtimes:hover { color: #39b54a;  background-position: -250px 40px; border-top: 1px solid #39b54a; }
			.badtimes_nav { background: url(../img/nav_badtimes.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.badtimes_nav:hover { color: #39b54a;  background-position: -100px 20px; border-top: 1px solid #39b54a; }

		.sequences { background: url(../img/thumb_sequences.png) no-repeat; background-position: 0px 25px; }
		.sequences:hover { color: #ff535b;  background-position: -250px 25px; border-top: 1px solid #ff535b; }
			.sequences_nav { background: url(../img/nav_sequences.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.sequences_nav:hover { color: #ff535b;  background-position: -100px 20px; border-top: 1px solid #ff535b; }

		.tnr { background: url(../img/thumb_timesnewrope.png) no-repeat; background-position: 0px 35px; }
		.tnr:hover { color: #8c6239;  background-position: -251px 35px; border-top: 1px solid #8c6239; }
			.tnr_nav { background: url(../img/nav_timesnewrope.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.tnr_nav:hover { color: #8c6239;  background-position: -100px 20px; border-top: 1px solid #8c6239; }

		.grindavik { background: url(../img/thumb_grindavik.png) no-repeat; background-position: 0px 35px; }
		.grindavik:hover { color: #0072bc;  background-position: -250px 35px; border-top: 1px solid #0072bc; }
			.grindavik_nav { background: url(../img/nav_grindavik.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.grindavik_nav:hover { color: #0072bc;  background-position: -100px 20px; border-top: 1px solid #0072bc; }

		.tekkno { background: url(../img/thumb_tekkno.png) no-repeat; background-position: 0px 35px; }
		.tekkno:hover { color: #f7941d;  background-position: -250px 35px; border-top: 1px solid #f7941d; }
			.tekkno_nav { background: url(../img/nav_tekkno.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.tekkno_nav:hover { color: #f7941d;  background-position: -100px 20px; border-top: 1px solid #f7941d; }

		.rafskinna { background: url(../img/thumb_rafskinna.png) no-repeat; background-position: 0px 30px; }
		.rafskinna:hover { color: #7f71a3;  background-position: -250px 30px; border-top: 1px solid #7f71a3; }
			.rafskinna_nav { background: url(../img/nav_rafskinna.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.rafskinna_nav:hover { color: #7f71a3;  background-position: -100px 20px; border-top: 1px solid #7f71a3; }

		.gemstones { background: url(../img/thumb_gemstones.png) no-repeat; background-position: 0px 30px; }
		.gemstones:hover { color: #00aeef;  background-position: -250px 30px; border-top: 1px solid #00aeef; }
			.gemstones_nav { background: url(../img/nav_gemstones.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.gemstones_nav:hover { color: #00aeef;  background-position: -100px 20px; border-top: 1px solid #00aeef; }

		.ultimathule { background: url(../img/thumb_ultimathule.png) no-repeat; background-position: 0px 35px; }
		.ultimathule:hover { color: #8560a8;  background-position: -250px 35px; border-top: 1px solid #8560a8; }
			.ultimathule_nav { background: url(../img/nav_ultimathule.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.ultimathule_nav:hover { color: #8560a8;  background-position: -100px 20px; border-top: 1px solid #8560a8; }

		.airwaves { background: url(../img/thumb_airwaves.png) no-repeat; background-position: 0px 25px; }
		.airwaves:hover { color: #00298a;  background-position: -250px 25px; border-top: 1px solid #bb0000; }
			.airwaves_nav { background: url(../img/nav_airwaves.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.airwaves_nav:hover { color: #00298a;  background-position: -100px 20px; border-top: 1px solid #bb0000; }

		.api { background: url(../img/thumb_api.png) no-repeat; background-position: 0px 30px; }
		.api:hover { color: #2e3192;  background-position: -250px 30px; border-top: 1px solid #2e3192; }
			.api_nav { background: url(../img/nav_api.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.api_nav:hover { color: #2e3192;  background-position: -100px 20px; border-top: 1px solid #2e3192; }

		.forynja { background: url(../img/thumb_forynja.png) no-repeat; background-position: 0px 20px; }
		.forynja:hover { color: #b2a90b;  background-position: -250px 20px; border-top: 1px solid #b2a90b; }
			.forynja_nav { background: url(../img/nav_forynja.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.forynja_nav:hover { color: #b2a90b;  background-position: -100px 20px; border-top: 1px solid #b2a90b; }

		.cargate { background: url(../img/thumb_cargate.png) no-repeat; background-position: 0px 55px;  }
		.cargate:hover { color: #c0332f;  background-position: -250px 55px; border-top: 1px solid #c0332f; }
			.cargate_nav { background: url(../img/nav_cargate.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.cargate_nav:hover { color: #c0332f;  background-position: -100px 20px; border-top: 1px solid #c0332f; }

		.skinfaxi { background: url(../img/thumb_skinfaxi.png) no-repeat; background-position: 0px 35px; }
		.skinfaxi:hover { color: #cfa86e;  background-position: -250px 35px; border-top: 1px solid #cfa86e; }
			.skinfaxi_nav { background: url(../img/nav_skinfaxi.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.skinfaxi_nav:hover { color: #cfa86e;  background-position: -100px 20px; border-top: 1px solid #cfa86e; }

		.nakedape { background: url(../img/thumb_nakedape.png) no-repeat; background-position: 0px 20px; }
		.nakedape:hover { color: #4c2d0f;  background-position: -250px 20px; border-top: 1px solid #4c2d0f; }
			.nakedape_nav { background: url(../img/nav_nakedape.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.nakedape_nav:hover { color: #4c2d0f;  background-position: -100px 20px; border-top: 1px solid #4c2d0f; }

		.papers { background: url(../img/thumb_papers.png) no-repeat; background-position: 0px 35px; }
		.papers:hover { color: #666;  background-position: -250px 35px; border-top: 1px solid #666; }
			.papers_nav { background: url(../img/nav_papers.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.papers_nav:hover { color: #666;  background-position: -100px 20px; border-top: 1px solid #666; }

		.phonebook { background: url(../img/thumb_phonebook.png) no-repeat; background-position: 0px 30px; }
		.phonebook:hover { color: #6eb43f;  background-position: -250px 30px; border-top: 1px solid #6eb43f; }
			.phonebook_nav { background: url(../img/nav_phonebook.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.phonebook_nav:hover { color: #6eb43f;  background-position: -100px 20px; border-top: 1px solid #6eb43f; }

		.ryksug { background: url(../img/thumb_ryksug.png) no-repeat; background-position: 0px 30px; }
		.ryksug:hover { color: #ff0;  background-position: -250px 30px; border-top: 1px solid #ff0; }
			.ryksug_nav { background: url(../img/nav_ryksug.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.ryksug_nav:hover { color: #ff0;  background-position: -100px 20px; border-top: 1px solid #ff0; }

		.logos { background: url(../img/thumb_logos.png) no-repeat; background-position: 0px 30px; }
		.logos:hover { color: #ec008c;  background-position: -250px 30px; border-top: 1px solid #ec008c; }
			.logos_nav { background: url(../img/nav_logos.png) no-repeat; background-position: 0px 20px; cursor: pointer; }
			.logos_nav:hover { color: #ec008c;  background-position: -100px 20px; border-top: 1px solid #ec008c; }

		.heap { background: url(../img/thumb_heap.png) no-repeat; background-position: 0px 30px; }
		.heap:hover { color: #be9467;  background-position: -250px 30px; border-top: 1px solid #be9467; }

	.previous, .next { width: 100px; height: 250px; margin: 0 0 75px 650px; border-top: 1px solid black; position: fixed; _position: absolute; font-size: 9px; font-weight: bold; }
	.next { margin: 0 0 75px 800px; }
	.info { width: 250px; margin: 175px 0 75px 650px; border-top: 1px solid black; position: fixed; _position: absolute; }
	.info2 { width: 250px; margin: 0 0 75px 650px; border-top: 1px solid black; position: fixed; _position: absolute; }
		.info a, .info2 a { color: black; text-decoration: none; border-bottom: 1px dotted black; }
		.info a:hover, .info2 a:hover { border-bottom: 1px solid black; }

	#main img { max-width: 575px; min-width: 575px; margin: 0 75px 75px 0; }
		.rounded { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
		.extraspace { padding-bottom: 75px; }
		.caption { width: 569px; padding: 3px; background: url(../img/head.png); position: relative; margin: -115px 0 115px 0; border-bottom: 1px dotted #e1e1e1; border-top: 1px dotted #e1e1e1; text-shadow: 0px 2px 3px #e1e1e1; }

#foot { width: 900px; padding: 2px 0 20px 0px; margin: 0; border-top: 1px solid black; float: left; }
	#one { width: 650px; float: left; }
	#two { width: 250px; float: left; }

hr { background: black; width: 100%; height: 1px; border: 0; }